#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_292 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: -1px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_182 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Check-box {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Loading_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}