#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #2DAB12;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #2DAB12;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #2DAB12;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #2DAB12;
  border-radius: 5px 5px 5px 5px;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_290 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_1 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_2 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_3 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_4 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_5 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_6 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-close-white_7 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_94 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_114 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_292 {
  -ms-transform: rotate(90.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Panel_1 > .valign {
  vertical-align: top;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_182 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Panel_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  filter: alpha(opacity=65);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Check-box {
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Panel_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  filter: alpha(opacity=65);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Rectangle_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #666666;
  border-radius: 4px 4px 4px 4px;
  -ms-transform: rotate(0.0deg);
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e #s-Loading_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-106e12c9-fc2d-4ad2-9a19-fc2d45765a3e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}