#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-login-out {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_290 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_294 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Label_194 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_21 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=68) ;
  filter: alpha(opacity=68) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_22 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=83) ;
  filter: alpha(opacity=83) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Loading_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=83) ;
  filter: alpha(opacity=83) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_11 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=83) ;
  filter: alpha(opacity=83) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_8 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Rectangle_9 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90) ;
  filter: alpha(opacity=90) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-131e0aa3-ec76-40cb-b641-12bfbe12b267 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}