#s-33e38b3a-437b-470d-a827-5f3e81c0b78a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33e38b3a-437b-470d-a827-5f3e81c0b78a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-33e38b3a-437b-470d-a827-5f3e81c0b78a #s-Rich_text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-33e38b3a-437b-470d-a827-5f3e81c0b78a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}