#s-426b1750-32da-4f0d-806d-ddbe8f835159 > #backgroundBox {
  background-color: #F3F3F3;
  background-image: none;
  position: absolute;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_1 {
  position: absolute;
  top: 62px;
  left: 0px;
  width: 375px;
  height: 605px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_291 {
  position: absolute;
  top: 32px;
  left: 5px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_291 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_291 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_291 span#rtr-s-Label_291_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_2 {
  position: absolute;
  top: 627px;
  left: 0px;
  width: 371px;
  height: 36px;
  background-color: #999999;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Camera-Screen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_112 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  background-color: #191919;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_112 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_112 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_112 span#rtr-s-Rectangle_112_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_113 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 46px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_113 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_113 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_113 span#rtr-s-Rectangle_113_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_114 {
  position: absolute;
  top: 569px;
  left: 0px;
  width: 375px;
  height: 98px;
  background-color: #000000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_114 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_114 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_114 span#rtr-s-Rectangle_114_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_702 {
  position: absolute;
  top: 12px;
  left: 340px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_702 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_702 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_702 span#rtr-s-Label_702_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_703 {
  position: absolute;
  top: 12px;
  left: 5px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_703 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_703 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_703 span#rtr-s-Label_703_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_704 {
  position: absolute;
  top: 18px;
  left: 32px;
  width: 60px;
  height: 14px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_704 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_704 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_704 span#rtr-s-Label_704_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Group_343 {
  position: absolute;
  top: 591px;
  left: 159px;
  width: 61px;
  height: 63px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_272 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 61px;
  height: 63px;
  position: absolute;
  overflow: hidden;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_272 .content {
  width: 61px;
  height: 63px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_272 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 61px;
  height: 63px;
  background-color: transparent;
  background-image: none;
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  opacity: 0.98;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #shapewrapper-s-Ellipse_272 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #shapewrapper-s-Ellipse_272 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #shapewrapper-s-Ellipse_272 span#rtr-s-Ellipse_272_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Dynamic_Panel_1 {
  position: absolute;
  top: 5px;
  left: 3px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Panel_1 {
  width: 54px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_273 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 42px;
  height: 43px;
  position: absolute;
  overflow: hidden;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_273 .content {
  width: 42px;
  height: 43px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_273 {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 42px;
  height: 43px;
  background-color: #DD3214;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #shapewrapper-s-Ellipse_273 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #shapewrapper-s-Ellipse_273 span {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #shapewrapper-s-Ellipse_273 span#rtr-s-Ellipse_273_0 {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Panel_2 {
  width: 54px;
  height: 53px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  position: absolute;
  overflow: hidden;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_1 .content {
  width: 50px;
  height: 50px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_1 {
  position: absolute;
  top: 2px;
  left: 3px;
  width: 50px;
  height: 50px;
  background-color: #DD3214;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #shapewrapper-s-Ellipse_1 span {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #DD3214;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_115 {
  position: absolute;
  top: 243px;
  left: 149px;
  width: 76px;
  height: 76px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FBD433;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FBD433;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FBD433;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FBD433;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_115 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_115 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_115 span#rtr-s-Rectangle_115_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Image_1 {
  position: absolute;
  top: 592px;
  left: 282px;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-close {
  position: absolute;
  top: 603px;
  left: 38px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 28.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-close .valign {
  vertical-align: middle;
  text-align: left;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-close span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 28.0pt;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-close span#rtr-s-close_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 28.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}