#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_114 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_702 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_703 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Label_704 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_272 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=98);
  filter: alpha(opacity=98);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_273 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Rectangle_115 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 #s-close {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-426b1750-32da-4f0d-806d-ddbe8f835159 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}