#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}