#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Rectangle_1 {
  position: absolute;
  top: 19px;
  left: 0px;
  width: 375px;
  height: 45px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Rectangle_1 span#rtr-m-1b9f4c36-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Group_5 {
  position: absolute;
  top: 22px;
  left: 228px;
  width: 62px;
  height: 43px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_2 {
  position: absolute;
  top: 21px;
  left: 0px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_2 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_2 span#rtr-m-1b9f4c36-Label_2_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Mail {
  position: absolute;
  top: 0px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Mail .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Mail span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Mail span#rtr-m-1b9f4c36-Mail_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Group_1 {
  position: absolute;
  top: 4px;
  left: 157px;
  width: 62px;
  height: 63px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Image_1 {
  position: absolute;
  top: 0px;
  left: 7px;
  width: 45px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_3 {
  position: absolute;
  top: 41px;
  left: 0px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_3 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_3 span#rtr-m-1b9f4c36-Label_3_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Group_3 {
  position: absolute;
  top: 20px;
  left: 74px;
  width: 62px;
  height: 44px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_15 {
  position: absolute;
  top: 0px;
  left: 19px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_15 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_15 span#rtr-m-1b9f4c36-Label_15_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_4 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_4 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_4 span#rtr-m-1b9f4c36-Label_4_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Group_2 {
  position: absolute;
  top: 20px;
  left: 304px;
  width: 62px;
  height: 45px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_21 {
  position: absolute;
  top: 0px;
  left: 17px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_21 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_21 span#rtr-m-1b9f4c36-Label_21_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_5 {
  position: absolute;
  top: 23px;
  left: 0px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_5 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_5 span#rtr-m-1b9f4c36-Label_5_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Group_4 {
  position: absolute;
  top: 21px;
  left: 7px;
  width: 62px;
  height: 44px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_1 {
  position: absolute;
  top: 22px;
  left: 0px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 微软雅黑,Arial;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_1 span {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_1 span#rtr-m-1b9f4c36-Label_1_0 {
  color: #404040;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_35 {
  position: absolute;
  top: 0px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 20.0pt;
  font-family: IOS8-Icons-Regular,Arial;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_35 span {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_35 span#rtr-m-1b9f4c36-Label_35_0 {
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
  line-height: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 15px;
  height: 15px;
  position: absolute;
  overflow: hidden;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Ellipse_1 .content {
  width: 15px;
  height: 15px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Ellipse_1 {
  position: absolute;
  top: 19px;
  left: 266px;
  width: 15px;
  height: 15px;
  background-color: #FF0000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 微软雅黑,Arial;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #shapewrapper-m-1b9f4c36-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #shapewrapper-m-1b9f4c36-Ellipse_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #shapewrapper-m-1b9f4c36-Ellipse_1 span#rtr-m-1b9f4c36-Ellipse_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 微软雅黑,Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}