#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Mail {
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Label_35 {
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379 #m-1b9f4c36-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#m-1b9f4c36-f373-4c76-a3ee-d4b679872379.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}